SECRET_KEY=pon-aqui-una-clave-secreta-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.mysql
DB_NAME=tienda_online_db
DB_USER=tienda_user
DB_PASSWORD=pon-aqui-tu-clave-de-la-base-de-datos
DB_HOST=127.0.0.1
DB_PORT=3306